<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.online_gift_store">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:name="androidx.multidex.MultiDexApplication">

        <activity android:name="com.example.online_gift_store.MainActivity_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity_users"/>
        <activity android:name="com.example.online_gift_store.MainActivity_login"/>
        <activity android:name=".MainActivity_registration"/>
        <activity android:name=".MainActivity_forgot_pass1"/>
        <activity android:name=".MainActivity_forgot_pass3"/>
        <activity android:name=".MainActivity_birthday_gift"/>
        <activity android:name=".MainActivity_anniversary_gift"/>
        <activity android:name=".MainActivity_occasions_gift"/>
        <activity android:name=".MainActivity_cakes"/>
        <activity android:name=".MainActivity_flowers"/>
        <activity android:name=".MainActivity_combo_gift"/>
        <activity android:name=".MainActivity1"/>
        <activity android:name=".MainActivity_order_info"/>
        <activity android:name=".MainActivity_delivery_info"/>
        <activity android:name=".MainActivity_payment"/>
        <activity android:name=".MainActivity_receipt"/>
        <activity android:name=".MainActivity_cancel_order"/>

        <activity android:name=".MainActivity_login_admin"/>
        <activity android:name=".MainActivity_forgot_pass_admin"/>
        <activity android:name=".MainActivity_view_admin"/>
        <activity android:name=".MainActivity_admin_view_users"/>
        <activity android:name=".MainActivity_admin_view_orders"/>
        <activity android:name=".MainActivity_admin_view_payments"/>
        <activity android:name=".MainActivity_admin_view_contactus_msg"/>
        <activity android:name=".MainActivity_admin_view_rating"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Online_gift_store.NoActionBar">
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


</manifest>